html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.overlay{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.8);
    transition:opacity 500ms;
    visibility:hidden;
    opacity:0;
}
.overlay:target {
        visibility: visible;
        opacity: 1;
}
.wrapper{
    margin:70px auto;
    padding:20px;
    border-radius: 5px;
    background:#e7e7e7;
    width:30%;
    position: relative;
}
.wrapper .close{
   
    position: absolute;
    top:20px;
    right:30px;

}
.wrapper .content{
    max-height: 30%;
    overflow: auto;
}